*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background: #f4f4f4;
}

a {
    color: #f4f4f4;
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    color: #CACACA;
}

h1 {
    font-size: 42px;
    font-weight: 400;
    line-height: 52px;
    margin-top: 38px;
    font-weight: 400;
}

h2 {
    font-size: 32px;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

p {
    font-size: 20px;
    line-height: 36px;
    font-weight: 300;
}

ul {
    padding-left: 22px;
}

li {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 300;
}

#top {
    background: #f4f4f4;
    padding-top: 12px;
    border-bottom: 1px solid #0096D6;
}

#middle1 {
    background: #0096D6;
    color: #f4f4f4;
}

#middle2 {
    background: #f4f4f4;
    color: #525252;
}

#bottom {
    min-height: 160px;
    background: #f4f4f4;
}

.page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.page a {
    color: #a4a4a4;
}

.page a:hover {
    color: #666666;
}

.logo {
    float: left;
}

.logo img {
    width: 320px;
}

.social {
    float: right;
}

.social a {
    display: inline-block;
    padding: 12px;
    margin: 2px 4px 0 4px;
    text-decoration: none;
    color: #f4f4f4;
    font-size: 24px;
    background: #CACACA;
}

.social a:hover {
    background: #0096D6;
}

.resumeh3 {
    margin-bottom: 50px;
}

.bottom-social {
    text-align: center;
    display: none;
    margin: 20px 0;
}

.bottom-social a {
    display: inline-block;
    padding: 12px;
    margin: 2px 4px 0 4px;
    text-decoration: none;
    font-size: 24px;
    color: #f4f4f4;
    background: #0096D6;
}

.project {
    margin-top: 60px;
}

.project:first-of-type {
    margin-top: 0;
}

.projectImage {
    width: 40%;
    padding: 0px 20px 20px 20px;
    text-align: center;
}

.projectImage div {
    color: #ffffff;
    font-size: 14px;
    margin-top: -40px;
}

.projectImage img {
    width: 100%;
}

.projectImage a:hover div {
    color: #CACACA;
}

.experiment {
    width: 33%;
    float: left;
    padding: 10px 10px 10px 0;
}

.experiment h3 {
    margin-top: 8px;
}

.experiment a {
    color: #525252;
}

.thumbnail img {
    width: 100%;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.clearfix {
    clear: both;
}

.hideOnMobile {
    display: block;
}

.showOnMobile {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

@media (max-width: 1280px) {
    .page {
        max-width: 1000px;
    }
}

@media (max-width: 1024px) {
    .page {
        max-width: 800px;
        padding: 10px 30px;
    }
}

@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    .showOnMobile {
        display: block;
    }
    .projectImage {
        width: 100%;
        padding: 0;
    }
    .experiment {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .page {
        max-width: 800px;
        padding: 10px 30px;
    }
}

@media (max-width: 400px) {
    .page {
        padding: 10px 30px;
    }
    .logo img {
        width: 100%;
    }
    .experiment {
        width: 100%;
    }
}
