*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background: #f4f4f4;
}
a {
    color: #f4f4f4;
    font-size: 20px;
    text-decoration: none;
}
a:hover {
    color: #cacaca;
}
h1 {
    font-size: 42px;
    line-height: 52px;
    margin-top: 38px;
    font-weight: 400;
    text-align: center;
}
@media (min-width: 768px) {
    h1 {
        text-align: left;
    }
}
h2 {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}
@media (min-width: 768px) {
    h2 {
        text-align: left;
    }
}
h3 {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
@media (min-width: 768px) {
    h3 {
        font-size: 20px;
        text-align: left;
    }
}
p {
    font-size: 20px;
    line-height: 36px;
    font-weight: 300;
}
ul {
    padding-left: 22px;
}
li {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 300;
}
#top {
    background: #f4f4f4;
    padding-top: 12px;
    border-bottom: 1px solid #0096d6;
}
#top .page {
        display: flex;
        justify-content: center;
    }
@media (min-width: 768px) {
    #top .page {
        justify-content: space-between;
    }
}
#middle1 {
    background: #0096d6;
    color: #f4f4f4;
}
#middle2 {
    background: #f4f4f4;
    color: #525252;
}
#bottom {
    min-height: 160px;
    background: #f4f4f4;
}
.page {
    margin: 0 auto;
    padding: 10px 30px;
}
@media (min-width: 992px) {
    .page {
        max-width: 992px;
    }
}
@media (min-width: 1280px) {
    .page {
        padding: 10px;
        max-width: 1200px;
    }
}
.page a {
        color: #a4a4a4;
}
.page a:hover {
        color: #666666;
}
.logo {
    margin-left: -28px;
}
@media (min-width: 768px) {
    .logo {
        margin-left: 0;
    }
}
.logo img {
        width: 320px;
        height: 59px;
}
.icon {
    display: inline-block;
    padding: 12px;
    margin: 2px 4px 0 4px;
    text-decoration: none;
    font-size: 24px;
    transition: background 0.4s, color 0.4s;
}
.social {
    display: none;
}
@media (min-width: 768px) {
    .social {
        display: block;
    }
}
.social a {
        color: #f4f4f4;
        background: #cacaca;
}
.social a:hover {
        background: #0096d6;
}
.resumeh3 {
    margin-bottom: 50px;
}
.resumeh3 a {
        color: #cacaca;
    }
.resumeh3 a:hover {
        color: #666666;
    }
.bottom-social {
    text-align: center;
    margin: 20px 0;
}
@media (min-width: 768px) {
    .bottom-social {
        display: none;
    }
}
.bottom-social a {
        color: #f4f4f4;
        background: #0096d6;
}
.project {
    margin-top: 60px;
}
.project:first-of-type {
    margin-top: 0;
}
.projectImage {
    width: 40%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
}
@media (min-width: 768px) {
    .projectImage {
        padding: 0px 20px 20px 20px;
        float: right;
        margin: 0;
    }
}
.projectImage img {
        width: 100%;
        transition: filter 0.4s;
        filter: brightness(50%);
}
@media (min-width: 768px) {
    .projectImage img {
        filter: brightness(100%);
    }
}
.projectImage a {
        position: relative;
        overflow: hidden;
        display: block;
        font-size: 0;
}
.projectImage .projectImageText {
        bottom: 0px;
        position: absolute;
        width: 100%;
        font-size: 20px;
        transition: bottom 0.4s;
        color: #fff;
}
@media (min-width: 768px) {
    .projectImage .projectImageText {
        bottom: -30px;
    }
}
.projectImage:hover img {
            filter: brightness(50%);
}
.projectImage:hover .projectImageText {
            bottom: 0px;
}
@media (min-width: 768px) {
    .projectImage:hover .projectImageText {
        bottom: 15px;
    }
}
.experimentContainer {
    display: flex;
    flex-wrap: wrap;
}
.experiment {
    width: 50%;
    flex: 0 0 50%;
    padding: 10px 10px 10px 0;
}
@media (min-width: 768px) {
    .experiment {
        flex: 0 0 33%;
        width: 33%;
    }
}
.experiment h3 {
        margin-top: 8px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
}
.experiment a {
        color: #525252;
}
.randomHacks {
    text-align: center;
}
@media (min-width: 768px) {
    .randomHacks {
        text-align: left;
    }
}
.randomHacks a {
        font-size: 14px;
}
.thumbnail img {
        width: 100%;
    }
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
