*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background: #CACACA;
}

a {
    color: #f4f4f4;
    text-decoration: none;
}

a:hover {
    color: #CACACA;
}

#top {
    background: #f4f4f4;
    padding-top: 8px;
}

#middle {
    background: #0096D6;
    color: #f4f4f4;
}

#bottom {
    min-height: 70px;
    background: #CACACA;
}

.page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.logo {
    float: left;
}

.logo img {
    width: 320px;
}

.social {
    float: right;
}

.social a {
    display: inline-block;
    padding: 12px;
    margin: 2px 4px 0 4px;
    text-decoration: none;
    color: #f4f4f4;
    font-size: 24px;
    background: #0096D6;
}

.bottom-social {
    text-align: center;
    display: none;
}

.bottom-social a {
    display: inline-block;
    padding: 4px;
    margin: 2px 4px 0 4px;
    text-decoration: none;
    color: #f4f4f4;
    font-size: 16px;
    background: #0096D6;
}

.projectImage {
    width: 50%;
    padding: 6px;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.clearfix {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

@media (max-width: 1280px) {
    .page {
        max-width: 1000px;
    }
}

@media (max-width: 1024px) {
    .page {
        max-width: 800px;
    }
}

@media (max-width: 600px) {
    .page {
        max-width: 800px;
    }
    .social {
        display: none;
    }
    .bottom-social {
        display: block;
    }
}

@media (max-width: 350px) {
    .logo img {
        width: 100%;
    }
}
